# -----------------------------------------------------------------------------
# NextAuth: https://shipfa.st/docs/tutorials/user-auth
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=uhf38e7y7fh387uc435h3fi347u4rh9394hf

# -----------------------------------------------------------------------------
# Google OAuth: https://shipfa.st/docs/features/google-oauth
# -----------------------------------------------------------------------------
GOOGLE_ID=
GOOGLE_SECRET=

# -----------------------------------------------------------------------------
# Supabase: added by me!
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SUPABASE_URL=https://ppxycwygmlvmbholyyon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBweHljd3lnbWx2bWJob2x5eW9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTk3NjQ3OTQsImV4cCI6MjAxNTM0MDc5NH0.TWI6XL86tdpZ5hTlj436Mmp_8DnWQ3IDbyWhWp5CjUY

# -----------------------------------------------------------------------------
# Mailgun: https://shipfa.st/docs/features/emails
# -----------------------------------------------------------------------------
EMAIL_SERVER=
MAILGUN_API_KEY=

# -----------------------------------------------------------------------------
# Database URI: https://shipfa.st/docs/features/database
# -----------------------------------------------------------------------------
MONGODB_URI=

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
